* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

body {
    background: url(back3.png) no-repeat center  fixed;
    background-size: cover;

}

nav {
    display: flex;
    align-items: center;
}

nav h3 {
    background: linear-gradient(145deg, #ff0,#0f0,#0ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-left: 2.5%;
    font-size: 1.5em;
    font-weight: bold;
}

nav ul {
    width: 60%;
    height: 50px;
    padding: 10px;
    margin: 15px auto;
    margin-right: 2.5%;
    display: flex;
    justify-content: space-around;
}

nav ul li {
    list-style-type: none;
}

nav ul a {
    position: relative;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 0.05em;
    color: #0f0;
    padding: 8px 12px;
    background: linear-gradient(145deg, #ff0,#0f0,#0ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.1em;
    font-weight: bold;
    transition: all 0.4s ease;
}

nav ul a:hover {
    background: linear-gradient(145deg, rgb(0, 255, 225),rgb(255, 238, 0),rgb(255, 0, 0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    letter-spacing: 0.1em;
}


hr {
    width: 95%;
    margin: 0 30px auto auto;
    border: none;
    height: 2px;
    background-color: #0f0;
    box-shadow: 0 0 10px 1px #0f0;
    border-radius: 20px;
}


.main {

    height: 100%;
    width: 95%;
    margin: 50px 0 auto auto;
    border-radius: 10px;

}


.intro {
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    margin: 20px auto;

}

.intro-left {
    border: 2px solid #0f0;
    border-radius: 10px;
    padding: 30px 50px;
    margin-left: -10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    box-shadow: 0 0 20px 2px #0f0;

}

.intro-left h2
{
    background: linear-gradient(135deg, #0ff,#f0f);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    letter-spacing: 0.1em;
}

.intro-left h3 {
    color: rgb(115, 255, 0);
}

.intro-right img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 2px solid #0f0;
    box-shadow: inset 0 0 20px 2px #0f0;
    transition: all 0.5s ease;
}

.intro-right img:hover {
    box-shadow: inset 0 0 30px 3px #0f0;
    transform: scale(1.03);
}

.main .info {
    color: #0f0;
    display: flex;
    align-items: center;
    width: 95%;
    justify-content: space-between;
    margin:auto;
    margin-top: 50px;
}

.box
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: auto;
    transition: all 0.5s ease;
    background: linear-gradient(145deg, rgb(0, 255, 225),rgb(255, 238, 0),rgb(255, 0, 0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    letter-spacing: 0.1em;
}

.info > :nth-child(2) ,  .info > :nth-child(3),:nth-child(4) {
    border-left: 1px solid #0f0;
    padding: 0 15px; 
}

.box:hover
{
    transform: scale(1.05);
    transition: all 0.5s ease;
}